li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
  padding-right: 10px;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item header .user-info {
  margin-left: 10px;
}

.user-info strong {
  display: block;
  size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.dev-item header .button-excluir {
  display: flex;
  flex: 1;
  margin-left: 12px;
  margin-right: 10px;
  justify-content: flex-end;
  align-self: flex-start;
}

header .button-excluir button {
  padding: 4px 5px;
  border: 0;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background: #cd5c5c;
  transition: 0.2s;
  cursor: pointer;
}

header .button-excluir button:hover {
  background: #a52a2a;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item .items-a {
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-bottom: 3px;
}

li.dev-item .items-a a + a {
  margin-top: 5px;
}

li.dev-item .items-a a {
  color: #8e4dff;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

li.dev-item .items-a a:hover {
  color: #5a2ea6;
}
